In [51]:
import pandas as pd
import glob

f_dir = '/Users/leec813/OneDrive - PNNL/Documents/mmc/sgp/data/0805_0901/ts/0805-edmf/'

run_hours = 12.5
time_step_sec = 9

ideal_file_num = run_hours*60*60/time_step_sec

# WORKS
#for file in glob.glob(f_dir+'*d02*')[:1]:
file = f_dir+'c1.d02.PH'
new_file = file+'_new'
    
print(file)

lines_seen = set() # holds lines already seen
outfile = open(new_file, 'w')

for line in open(file, 'r'):

    if line not in lines_seen: # not a duplicate

        outfile.write(line)
        lines_seen.add(line)

outfile.close()
        
with open(new_file, 'r') as f:
    
    lines = f.readlines()
    
    if len(lines) != ideal_file_num:
        print('--- WRONG line numbers ---')
        print('file has', str(len(lines)))
        print('should be', str(ideal_file_num))

/Users/leec813/OneDrive - PNNL/Documents/mmc/sgp/data/0805_0901/0805-edmf/c1.d02.PH
--- WRONG line numbers ---
file has 5004
should be 5000.0

In [42]:
print(new_file)

/Users/leec813/OneDrive - PNNL/Documents/mmc/sgp/data/0805_0901/0805-edmf/c1.d02.PH_new

In [43]:
df = pd.read_csv(new_file, delimiter=' ', skiprows=1, header=None)

ParserError: Error tokenizing data. C error: Expected 231 fields in line 1402, saw 312

In [44]:
df

,0,1,2,3,4,5,6,7,8,9,...,87,88,89,90,91,92,93,94,95,96
0,NaN,2,NaN,NaN,NaN,22.002501,NaN,NaN,NaN,1,...,NaN,NaN,0.30441,NaN,NaN,NaN,NaN,NaN,NaN,0.0
1,NaN,2,NaN,NaN,NaN,22.005001,NaN,NaN,NaN,1,...,NaN,NaN,0.30441,NaN,NaN,NaN,NaN,NaN,NaN,0.0
2,NaN,2,NaN,NaN,NaN,22.007500,NaN,NaN,NaN,1,...,NaN,NaN,0.30441,NaN,NaN,NaN,NaN,NaN,NaN,0.0
3,NaN,2,NaN,NaN,NaN,22.010000,NaN,NaN,NaN,1,...,NaN,NaN,0.30441,NaN,NaN,NaN,NaN,NaN,NaN,0.0
4,NaN,2,NaN,NaN,NaN,22.012501,NaN,NaN,NaN,1,...,NaN,NaN,0.30441,NaN,NaN,NaN,NaN,NaN,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,NaN,2,NaN,NaN,NaN,34.489998,NaN,NaN,NaN,1,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
4996,NaN,2,NaN,NaN,NaN,34.492500,NaN,NaN,NaN,1,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
4997,NaN,2,NaN,NaN,NaN,34.494999,NaN,NaN,NaN,1,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
4998,NaN,2,NaN,NaN,NaN,34.497501,NaN,NaN,NaN,1,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
4999,NaN,2,NaN,NaN,NaN,34.500000,NaN,NaN,NaN,1,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN

In [6]:
lines_seen = set() # holds lines already seen
outfile = open(test_2, 'w')
for line in open(file, 'r'):
    if line not in lines_seen: # not a duplicate
        outfile.write(line)
        lines_seen.add(line)
outfile.close()

In [28]:
df = pd.read_csv(test_2, delimiter=' ', skiprows=1, header=None)

In [30]:
df

,0,1,2,3,4,5,6,7,8,9,...,87,88,89,90,91,92,93,94,95,96
0,NaN,2,NaN,NaN,NaN,22.002501,NaN,NaN,NaN,1,...,NaN,NaN,0.30441,NaN,NaN,NaN,NaN,NaN,NaN,0.0
1,NaN,2,NaN,NaN,NaN,22.005001,NaN,NaN,NaN,1,...,NaN,NaN,0.30441,NaN,NaN,NaN,NaN,NaN,NaN,0.0
2,NaN,2,NaN,NaN,NaN,22.007500,NaN,NaN,NaN,1,...,NaN,NaN,0.30441,NaN,NaN,NaN,NaN,NaN,NaN,0.0
3,NaN,2,NaN,NaN,NaN,22.010000,NaN,NaN,NaN,1,...,NaN,NaN,0.30441,NaN,NaN,NaN,NaN,NaN,NaN,0.0
4,NaN,2,NaN,NaN,NaN,22.012501,NaN,NaN,NaN,1,...,NaN,NaN,0.30441,NaN,NaN,NaN,NaN,NaN,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,NaN,2,NaN,NaN,NaN,34.489998,NaN,NaN,NaN,1,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
4996,NaN,2,NaN,NaN,NaN,34.492500,NaN,NaN,NaN,1,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
4997,NaN,2,NaN,NaN,NaN,34.494999,NaN,NaN,NaN,1,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
4998,NaN,2,NaN,NaN,NaN,34.497501,NaN,NaN,NaN,1,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
4999,NaN,2,NaN,NaN,NaN,34.500000,NaN,NaN,NaN,1,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN

In [66]:
!echo "$file"

/Users/leec813/OneDrive - PNNL/Documents/mmc/sgp/data/0805_0901/0805-edmf/c1.d02.TS

In [67]:
!sed '253963d' < "$file" > "$test_f"

In [68]:
with open(file, "r") as f:
    lines = f.readlines()
len(lines)

1293798

In [69]:
with open(test_f, "r") as f:
    lines = f.readlines()
len(lines)

1293797

In [ ]:
with open(file, "r") as f:
    lines = f.readlines()
with open(file, "w") as f:
    for line in lines:
        if line.strip("\n") != "nickname_to_delete":
            f.write(line)

In [30]:
df.columns

Int64Index([0], dtype='int64')

In [31]:
df.head()

                                                   0
0   2    22.002501    1  122  125     297.37375  ...
1   2    22.005001    1  122  125     297.37241  ...
2   2    22.007500    1  122  125     297.37024  ...
3   2    22.010000    1  122  125     297.36792  ...
4   2    22.012501    1  122  125     297.36572  ...

In [ ]:
# Python program to 
# demonstrate merging 
# of two files 
  
data = data2 = "" 
  
# Reading data from file1 
with open('file1.txt') as fp: 
    data = fp.read()
    
# Reading data from file2 
with open('file2.txt') as fp: 
    
    data2 = fp.read() 

# Merging 2 files 
# To add the data of file2 
# from next line 
data += "\n"
data += data2 
  
with open ('file3.txt', 'w') as fp: 
    fp.write(data)